<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p class="lead"> Jot down ideas for your YouTube videos</p>
    <a class="btn btn-dark bnt-lg" href="/ideas/add"> Add Video Idea</a>
</div>